/*
 * $Id$
 * 
 */
 
body {
  background-image: url(/assets/images/logo.png);
  background-repeat:no-repeat;
  background-attachment: inherit;
  background-position: 110% -30px;
}

.slogan {
  margin-left: 2em;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 12px;
  color: #727272;
}
.page-header {
  margin-top: 2em;
  margin-bottom: 1em;
}

img.logo {
    margin-top: 32px; /* this has been "pixel-perfected" to work with the alignment of the search form */
}

.thumbnail {
  margin: 0 2em 2em 1em;
  border: 1px solid black;
  box-shadow: 1em 1em 0.5em #c0c0c0;
}

.pubdate {
  font-weight: bold;
}

.toc-list, .ml-list {
  margin-left: 3em;
}

.toc-list li, .ml-list li {
  display: list-item;
  list-style:circle;
}

.subtitle {
  font-style: italic;
}

.pubtype-label {
  margin-right: -0.8em;
}

.search-result-highlight {
  font-weight: bold;
}

.search-result-thumbnail {
  float: left;
  margin-right: 0.6em;
  border: 1px solid #c0c0c0;
  
}

.search-container {
  position: relative;
}
.search-box {
  position: absolute; 
  bottom: 0; 
  left: 0; 
}

#wordcloud {
   height:300px;
   width: 100%;
}

.align-bottom {
    position: absolute;
    top: 90px; /* this has been "pixel-perfected" to work with the alignment of the logo */
    right: 0;
}
/* facets can be either simple links (unselected) or have the css class "selected" which makes them .... correct! "selected" */
a.selected {
  font-weight: bold;
  color: black;
}
img.flag {
  margin: 0.2em;
  width: 16px;
  height: 16px;
  border: 2px solid white;
}
img.flag.selected {
  border: 2px solid #2A85E8;
}

div.exhibit-views-header {
  display: none;
}
/* 
  Zurb Foundation's reset styles contain a max-width: 100% that interfere with
  google maps bubble display.
  
  @see https://github.com/zurb/foundation/issues/112
*/
div#map-container img {
  max-width: none; 
  height: auto;
}

div.exhibit-busyIndicator {
  display: none;
}